<div *ngIf="hero">
    <h2>{{hero.name}} details</h2>
    <div><label>Id:</label>{{hero.id}}</div>
    <div><label>Name:</label><input [(ngModel)]="hero.name" placeholder="name"></div>
</div>

<button (click)="save()">Save</button><button (click)="goBack()">Back</button>