<!--<hero-detail [hero]="hero"></hero-detail>-->
<h3>Heroes:</h3>
<div>
    <label>Hero name:</label> <input #heroName />
    <button (click)="add(heroName.value); heroName.value=''">
    Add
  </button>
</div>
<ul class="heroes">
    <li *ngFor="let h of heros" [class.selected]="h === hero" (click)="onSelect(h)">
        <!--<li *ngFor="let h of heros" [routerLink]="['/detail',h.id]">-->
        <span class="badge">{{h.id}}</span> {{h.name}}
        <button class="delete" (click)="delete(h); $event.stopPropagation()">x</button>
    </li>
</ul>
<!--input binding from parent property hero rightside, to left side property which is in brackets -->
<!--<hero-detail [hero]="hero"></hero-detail>-->
<div *ngIf="hero">
    <h2>
        {{hero.name | uppercase}} is my hero
    </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>